*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

button {
    font-family: "Merienda", cursive;
}

html { 
    font-family: "Merienda", cursive;
}

body {
    overflow-x: hidden;
}

/* Main page */

.main {
    min-height: 640px;
    padding: 41px 0 200px 0;
    background: url('../img/backgrounds/background_main.png') center center/cover no-repeat;
}

.main .main_nav {
    margin-left: 161px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    gap: 20px;
    display: flex;
    align-items: end;
}

.main .main_nav .main_wrapper {
    display: flex;
    justify-content: start;
    align-items: end;
}

.main .main_nav img {
    width: 35px;
    height: 35px;
}

.main .main_title {
    color: rgb(255, 255, 255);
    margin-top: 101px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.main .main_coffee {
    text-align: center;
    margin-top: 21px;
}

.main .main_text {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 20px;
}

.main .main_button { 
    display: block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(196, 196, 196, 0);
    width: 120px;
    height: 30px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
}

.about {
    min-height: 520px;
    background: rgb(255, 255, 255);
    padding: 80px 425px 101px 438px;
}

.about .about_title {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.about .about_logo { 
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.about .about_wrapper {
    margin: 0 auto;
    width: 589px;
    min-height: 223px;
    margin-top: 41px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.best {
    min-height: 495px;
    background: url('../img/backgrounds/background_ourBest.png') center center/cover no-repeat;
    padding: 80px 320px 110px 320px;
}

.best .best_title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
}

.best .best_wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 71px;
}

.best .best_wrapper .best_item { 
    width: 220px;
    height: 240px;
    border-radius: 8px;
    margin-top: 39px;
    background: rgba(255, 255, 255, 0.65);
    text-align: center;
    position: relative;
}

.best .best_wrapper .best_item img { 
    margin-top: 25px;
}

.best .best_wrapper .best_item .best_price { 
    position: absolute;
    bottom: 17px;
    left: 160px;
}

.best .best_wrapper .best_item .best_text {
    margin-top: 19px;
}

.footer {
    min-height: 150px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 30px 543px 21px 542px;
}

.footer .footer_nav { 
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 20px;
    
}

.footer .footer_nav .footer_wrapper {
    display: flex;
    align-items: end;
}

.footer .footer_nav a { 
    color:rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 400;
}

.footer .footer_logo { 
    margin-top: 31px;
}

/* Our Coffee Page */

.our { 
    height: 330px;
    padding: 70px 240px 84px 240px;
    background: url('../img/backgrounds/background_ourCoffee.jpeg') center center/cover no-repeat;
}

.our .our_nav { 
    position: relative;
    display: flex;
    gap: 90px;
    width: 102px;
    height: 35px;
}

.our .our_nav .our_img { 
    position: absolute;
    bottom: 17px;
    left: -35px;
}

.our .our_nav a { 
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.our .our_title { 
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 83px;
    margin-bottom: 0;
}

.our_about { 
    min-height: 1248px;
    background: rgb(255, 255, 255);
    padding: 70px 315px 32px 315px;
    position: relative;
    margin: 0 auto;
}

.our_about .our_title { 
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    margin-left: 805px;
    display: block;
}

.our_about .our_logo { 
    display: block;
    margin-left: 803px;
}

.our_about > .our_text { 
    width: 340px;
    height: 232px;
    margin-top: 10px;
    margin-left: 728px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.our_about .our_img { 
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 600px;
}

.our_about .our_stick { 
    border: 1px solid rgb(0, 0, 0);
    width: 335px;
    margin-left: 489px;
    margin-top: 56px;
    display: inline-block;
}

.our_about .our_wrapper { 
    display: flex;
    margin-top: 60px;
    margin-left: 376px;
}

.our_about .our_wrapper .input_wrapper { 
    width: 279px;
    height: 45px;
    display: flex;
    margin-right: 116px;
    margin-left: -80px;
}

.our_about .our_wrapper .input_wrapper .input_text { 
    width: 84px;
    height: 41px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.our_about .our_wrapper .input_wrapper input { 
    width: 177px;
    height: 30px;
    border-radius: 4px;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
}

.our_about .our_wrapper .input_wrapper input::placeholder { 
    color: rgba(0, 0, 0, 0.5);
    font-family: Merienda;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.our_about .our_wrapper .button_wrapper { 
    width: 320px;
    height: 45px;
    display: flex;
    gap: 5px;
}

.our_about .our_wrapper .button_wrapper .button_text { 
    margin-right: 34px;
}

.our_about .our_wrapper .button_wrapper button { 
    width: 74px;
    height: 30px;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
}

.our_about .our_card { 
    margin-top: 46px;
    margin-inline: 315px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 67px;
}

.our_about .our_card .card { 
    width: 216px;
    height: 260px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 37px 26px 0 25px;
}

.our_about .our_card .card .card_text {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.our_about .our_card .card .card_country, .our_about .our_card .card .card_price {
    text-align: right;
    font-weight: bold;
}

/* footer our */
.our_footer {
    min-height: 150px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 30px 543px 21px 542px;
}

.our_footer .our_nav { 
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 20px;
    
}

.our_footer .our_nav .our_wrapper {
    display: flex;
    align-items: end;
}

.our_footer .our_nav a { 
    color:rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 400;
}

.our_footer .our_logo { 
    margin-top: 31px;
}


/* for your pleasur page */

.pleasure {
    height: 260px;
    padding: 52px 0 84px 150px;
    background: url('../img/backgrounds/background_pleasure.png') center center/cover no-repeat;
}

.pleasure .pleasure_nav {
    margin-left: 161px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    gap: 40px;
    display: flex;
    align-items: end;
}

.pleasure .pleasure_nav .pleasure_wrapper {
    display: flex;
    justify-content: start;
    align-items: end;
}

.pleasure .pleasure_nav img {
    width: 35px;
    height: 35px;
}

.pleasure .pleasure_title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}

/* about pleasure */

.about_pleasure{ 
    min-height: 1155px;
    background: rgb(255, 255, 255);
    padding: 70px 0 30px 0;
    position: relative;
    width: 100vw;
    overflow-y: hidden;
}

.about_pleasure .about_title { 
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    padding-left: 1200px;
}

.about_pleasure .about_logo { 
    display: block;
    padding-left: 1200px;
    margin-top: 20px;
}

.about_pleasure .about_text { 
    width: 346px;
    height: 232px;
    margin-top: 25px;
    margin-left: 1125px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.about_pleasure .about_img { 
    position: absolute;
    z-index: 1;
    width: 272px;
    height: 355px;
    margin-left: 666px;
}

.about_pleasure .about_stick { 
    border: 1px solid rgb(0, 0, 0);
    width: 240px;
    display: block;
    margin-top: 60px;
    margin-left: 876px;
}

.about_pleasure .about_card { 
    margin-top: 46px;
    margin-left: 490px;
    margin-right: 319px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 67px;
}

.about_pleasure .about_card .card { 
    width: 220px;
    height: 260px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 37px 26px 0 25px;
}

.about_pleasure .about_card .card .card_text {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.about_pleasure.about_card .card .card_country, .about_pleasure .about_card .card .card_price {
    text-align: right;
    font-weight: bold;
}

/* footer pleasure */

.pleasure_footer {
    min-height: 150px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    text-align: center;
    color: rgb(0, 0, 0);
}

.pleasure_footer .pleasure_nav { 
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 20px;
    margin-left: 65px;
}

.our_footer .pleasure_nav .pleasure_wrapper {
    display: flex;
    align-items: end;
}

.pleasure_footer .pleasure_nav a { 
    color:rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 400;
}

.pleasure_footer .pleasure_logo { 
    margin-top: 31px;
    margin-left: 65px;
}